<mat-nav-list>
  @for (investment of investments(); track $index) {
    <a
      class="investment-link"
      [ngClass]="{first: ($index === 0)}"
      routerLink="/pokemon/{{investment.pokedexNumber}}/{{investment.pokemonForm}}"
      mat-list-item>
      <div class="investment-row">
        <div class="pokemon-icon-container">
          <app-pokemon-icon [pokedexNumber]="investment.pokedexNumber" />
        </div>
        <div class="name-and-percentage">
          <p class="invstested-pokemon-name">{{investment.pokemonName}}</p>
          <p class="invstested-pokemon-slogan"><em>{{investment.slogan}}</em></p>
          <p class="percentage-and-operating-split">
            @if (investment.amount) {
              <mat-icon
                class="invested-icon"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="paid" />
              <span class="invested-percentage"><app-poke-dollars [amount]="investment.amount" /></span>
            }
            @if(investment.returnedAmount && investment.amount) {
              <mat-icon
                class="returned-icon"
                aria-hidden="false"
                aria-label="Example home icon"
                [fontIcon]="investment.returnedAmount > investment.amount ? 'trending_up' : 'trending_down'" />
              <span class="returned-amount">
                <app-poke-dollars [amount]="investment.returnedAmount" />
              </span>
            }
            @if (investment.yourCutNumerator && investment.yourCutDenominator) {
              <mat-icon
                class="operating-split-icon"
                [ngClass]="{'is-first-icon': !investment.returnedAmount && !investment.amount}"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="donut_small" />
              <span class="operating-split">
                {{investment.yourCutNumerator}}/{{investment.yourCutDenominator}}
              </span>
            }
            @if (investment.yourCutNumerator && investment.yourCutDenominator) {
              <button
                (click)="$event.preventDefault(); $event.stopPropagation(); onEdit(investment)"
                mat-icon-button
                aria-label="Example icon button with a menu icon"
                class="adjust-investment-button">
                <mat-icon>edit</mat-icon>
              </button>
              <button
                (click)="$event.preventDefault(); $event.stopPropagation(); onDivest(investment)"
                mat-icon-button
                aria-label="Example icon button with a menu icon"
                class="divest-button">
                <mat-icon>delete</mat-icon>
              </button>
            }
          </p>
        </div>
      </div>
    </a>
  }
</mat-nav-list>