<section id="invest-in-pokemon-container">
  <h2>Adjust Mewtwo position</h2>
  <p>
    Your current investment is 50,000.
  </p>
  <p>
    Your maximum investment is 75,000.
  </p>
  <p>
    Selecting an amount below your current investment returns cash.
  </p>
  <form>
    <mat-form-field>
      <mat-label>Investment amount</mat-label>
      <input
        matInput
        name="investment-amount"
        type="number"
        value="50000">
    </mat-form-field>
  
    <div class="investment-update-button-container">
      <button mat-stroked-button>Submit</button>
      <button mat-stroked-button>Cancel</button>
    </div>
  </form>
</section>
