<section>
  <h2 id="assets-header">Assets</h2>
  <p id="net-worth">Net worth: <app-poke-dollars [amount]="800000000" /></p>

  <section>
    <h3>Upcoming investment window - Orlando 05/03/2025</h3>
    <p>Free cash: 20%</p>

    
    <mat-nav-list>
      @for (investment of investments(); track $index) {
        <!-- <a class="investment-link" href="https://google.com" mat-list-item> -->
        <a
          class="investment-link"
          href="pokemon/{{investment.pokedexNumber}}/{{investment.pokemonForm}}"
          mat-list-item>
          <div class="investment-row">
            <div class="pokemon-icon-container">
              <app-pokemon-icon [pokedexNumber]="investment.pokedexNumber" />
            </div>
            <div class="name-and-percentage">
              <p class="invstested-pokemon-name">{{investment.pokemonName}} {{investment.companyType}}</p>
              <p class="invstested-pokemon-slogan"><em>{{investment.slogan}}</em></p>
              <p class="percentage-and-operating-split">
                <mat-icon
                  class="invested-icon"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="paid" />
                <span class="invested-percentage">{{investment.investedPercentage}}%</span>
                <mat-icon
                  class="operating-split-icon"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="donut_small" />
                <span class="operating-split">
                  {{investment.operatingSplitNumerator}}/{{investment.operatingSplitDenominator}}
                </span>
              </p>
            </div>
          </div>
        </a>
      }
     </mat-nav-list>
    
  </section>
</section>