#assets-header {
  display: none;
}

#net-worth {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 0;
}

#lifetime-returns {
  display: flex;
  margin: 11px 0 0;

  app-percentage-change {
    margin-left: 5px;
  }
}

.investment-accordion mat-expansion-panel {
  max-width: 600px;
}
