<section>
  <h2 id="assets-header">Portfolio</h2>
  <p id="net-worth">Net worth: <app-poke-dollars [amount]="800000000" /></p>
  <p id="lifetime-returns">
    <span id="lifetime-returns-text">Lifetime returns: 1000%</span>
    <mat-icon
      class="operating-split-icon"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="trending_up" />
      </p>
  <!-- <mat-card appearance="outlined" class="investment-opportunity">
    <mat-card-content>
      <h3 class="investment-opportunity-header">Next investment opportunity - Orlando 05/03/2025</h3>
      <p class="your-selection-list-starter">Your selections:</p>
      <mat-nav-list>
        @for (investment of investments(); track $index) {
          <a
            class="investment-link"
            [ngClass]="{first: ($index === 0)}"
            href="pokemon/{{investment.pokedexNumber}}/{{investment.pokemonForm}}"
            mat-list-item>
            <div class="investment-row">
              <div class="pokemon-icon-container">
                <app-pokemon-icon [pokedexNumber]="investment.pokedexNumber" />
              </div>
              <div class="name-and-percentage">
                <p class="invstested-pokemon-name">{{investment.pokemonName}} {{investment.companyType}}</p>
                <p class="invstested-pokemon-slogan"><em>{{investment.slogan}}</em></p>
                <p class="percentage-and-operating-split">
                  <mat-icon
                    class="invested-icon"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="paid" />
                  <span class="invested-percentage">{{investment.investedPercentage}}%</span>
                  <mat-icon
                    class="operating-split-icon"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="donut_small" />
                  <span class="operating-split">
                    {{investment.operatingSplitNumerator}}/{{investment.operatingSplitDenominator}}
                  </span>
                </p>
              </div>
            </div>
          </a>
        }
      </mat-nav-list>
    </mat-card-content>
  </mat-card> -->

  <h3>Tournament investments</h3>
  <mat-accordion class="investment-accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>05/10/2025 - Florida</mat-panel-title>
        <mat-panel-description>Upcoming</mat-panel-description>
      </mat-expansion-panel-header>
        <!-- <h3 class="investment-opportunity-header">Next investment opportunity - Orlando 05/03/2025</h3> -->
        <!-- <p class="your-selection-list-starter">Your selections:</p> -->
        <a href="https://google.com">Select mons</a>
        <mat-nav-list>
          @for (investment of investments(); track $index) {
            <a
              class="investment-link"
              [ngClass]="{first: ($index === 0)}"
              href="pokemon/{{investment.pokedexNumber}}/{{investment.pokemonForm}}"
              mat-list-item>
              <div class="investment-row">
                <div class="pokemon-icon-container">
                  <app-pokemon-icon [pokedexNumber]="investment.pokedexNumber" />
                </div>
                <div class="name-and-percentage">
                  <p class="invstested-pokemon-name">{{investment.pokemonName}} {{investment.companyType}}</p>
                  <p class="invstested-pokemon-slogan"><em>{{investment.slogan}}</em></p>
                  <p class="percentage-and-operating-split">
                    <mat-icon
                      class="invested-icon"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="paid" />
                    <span class="invested-percentage">{{investment.investedPercentage}}%</span>
                    <mat-icon
                      class="operating-split-icon"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="donut_small" />
                    <span class="operating-split">
                      {{investment.operatingSplitNumerator}}/{{investment.operatingSplitDenominator}}
                    </span>
                  </p>
                </div>
              </div>
            </a>
          }
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>04/10/2025 - Kentucky</mat-panel-title>
        <mat-panel-description>
          <app-poke-dollars [amount]="1000" />
          <mat-icon
            class="operating-split-icon"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="trending_up" />
            <app-poke-dollars [amount]="5000" />
            (+500%)
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>03/10/2025 - Texas</mat-panel-title>
        <mat-panel-description>
          <app-poke-dollars [amount]="2000" />
          <mat-icon
            class="operating-split-icon"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="trending_down" />
            <app-poke-dollars [amount]="1000" />
            (-50%)
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>
</section>