<div class="header-container">
  <app-pokemon-icon [iconPath]="pokemon() ? pokemon()!.iconPath : ''" />
  <div class="header-text-container">
    <h2>Mewtwo</h2>
    <p class="slogan"><i>Please tariff shadow rider</i></p>
    <p class="">Your lifetime earnings: 20,000</p>
    <p class="">You position: 50,000</p>
    <div class="investment-button-container">
      <button
        class="investment-button"
        mat-stroked-button
        (click)="openDialog()">
          Adjust
        </button>
      <button
        class="investment-button"
        mat-stroked-button>
          Divest
      </button>
    </div>
  </div>
</div>

<mat-tab-group id="pokemon-tabs" preserveContent>
  <mat-tab label="Upcoming potential">
    <!--
      ng-template with matTabContent lazy loads the tab.
      If not lazy loaded, d3 won't have a DOM element to attach to
      When the template initially renders.
    -->
    <ng-template matTabContent>
      <svg id="potential-earnings-chart" #chart width="800" height="400"></svg>
    </ng-template>
  </mat-tab>

  <mat-tab label="Historical performance">
      <mat-accordion id="historical-performance-accordion">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>4/10/2025 - Kentucky</mat-panel-title>
            <mat-panel-description>
              Top 8, +400%
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <p>Team links</p>
          <mat-list role="list">
            <mat-list-item role="listitem">Team link 1</mat-list-item>
            <mat-list-item role="listitem">Team link 2</mat-list-item>
          </mat-list>

          <p>ROI % calculation</p>
          <mat-list role="list">
            <mat-list-item role="listitem">= ((Tournament placement mulitiplier) / (Past Performance Premium) - 1) * 100%</mat-list-item>
            <mat-list-item role="listitem">= (6 / (6 / 5) - 1) * 100%</mat-list-item>
            <mat-list-item role="listitem">= 400%</mat-list-item>
          </mat-list>
          
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>3/10/2025 - Texas</mat-panel-title>
            <mat-panel-description>
              No placement, -50%
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            No team information
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
  </mat-tab>

  <mat-tab label="More resources">
    <mat-nav-list id="more-resources-nav-list">
      <a
        mat-list-item
        href="https://www.pikalytics.com/pokedex/gen9vgc2025regg/mewtwo"
        target="_blank">
        Pikalytics (usage)
      </a>
      <a
        mat-list-item
        href="https://limitlessvgc.com/pokemon/mewtwo/results/"
        target="_blank">
        Limitless VGC (results)
      </a>
      <a
        mat-list-item
        href="https://bulbapedia.bulbagarden.net/wiki/Mewtwo_(Pok%C3%A9mon)"
        target="_blank">
        Bulbapedia (wiki)
      </a>
    </mat-nav-list>
  </mat-tab>
</mat-tab-group>