<div class="header-container">
  <app-pokemon-icon [pokedexNumber]="pokedexNumber()" />
  <div class="header-text-container">
    <h2>Mewtwo</h2>
    <p class="slogan"><i>Please tariff shadow rider</i></p>
    <a class="invest-link" mat-stroked-button href="https://www.google.com/">Invest</a>
  </div>
</div>

<section id="potential-earnings-chart">
  <h3>Potential Earnings</h3>
  <svg #chart width="800" height="400"></svg>
</section>


<section id="historical-performance">
  <h3>Historical performance</h3>
  
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>4/10/2025 - Kentucky</mat-panel-title>
        <mat-panel-description>
          Top 8, +400%
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <p>Team links</p>
      <mat-list role="list">
        <mat-list-item role="listitem">Team link 1</mat-list-item>
        <mat-list-item role="listitem">Team link 2</mat-list-item>
      </mat-list>

      <p>ROI % calculation</p>
      <mat-list role="list">
        <mat-list-item role="listitem">= ((Tournament placement mulitiplier) / (Past Performance Premium) - 1) * 100%</mat-list-item>
        <mat-list-item role="listitem">= (6 / (6 / 5) - 1) * 100%</mat-list-item>
        <mat-list-item role="listitem">= 400%</mat-list-item>
      </mat-list>
      
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>3/10/2025 - Texas</mat-panel-title>
        <mat-panel-description>
          No placement, -50%
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        No team information
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<section id="more-resources-section">
  <h3>More resources</h3>

  <mat-nav-list>
    <a
      mat-list-item
      href="https://www.pikalytics.com/pokedex/gen9vgc2025regg/mewtwo"
      target="_blank">
      Pikalytics (usage)
    </a>
    <a
      mat-list-item
      href="https://bulbapedia.bulbagarden.net/wiki/Mewtwo_(Pok%C3%A9mon)"
      target="_blank">
      Bulbapedia (wiki)
    </a>
    <a
      mat-list-item
      href="https://limitlessvgc.com/pokemon/mewtwo/results/"
      target="_blank">
      Limitless VGC (results)
    </a>
  </mat-nav-list>
</section>