<div id="header-nav-theme-container">
  <div
    id="header-and-nav-container"
    [ngClass]="{'display-horizontal': !onHomePage(), 'baller': theme() === 'baller'}">
    <h1>
      <a routerLink="/">
        @if(theme() === 'inteleon') {
          <app-inteleon-icon></app-inteleon-icon>
          <span id="header-text">The Inteleon Investor</span>
        }

        @if (theme() === 'baller') {
          <img id="baller-icon" src="/inteleon-baller.png"/>
          <div id="ball-street-sign">
            <span>BALL</span>
            <span id="street-sub-text">ST.</span>
          </div>
        }
      </a>
    </h1>
    
    <mat-nav-list id="site-navigation">
      <a mat-list-item routerLink="results">Leaderboard</a>
      <a mat-list-item routerLink="portfolio">Portfolio</a>
      <a mat-list-item routerLink="pokemon">Pokémon</a>
      <a mat-list-item routerLink="about">About</a>
    </mat-nav-list>
  </div>

  <div id="theme-container">
    <mat-form-field>
      <mat-label>Investor mode</mat-label>
      <mat-select [(ngModel)]="theme">
        <mat-option [value]="'inteleon'">Inteleon</mat-option>
        <mat-option [value]="'baller'">Baller</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<router-outlet />
