#header-nav-theme-container {
  display: flex;
  justify-content: space-between;
}

#header-and-nav-container {
  h1 {
    width: fit-content;
    padding-top: 25px;
    a {
      display: flex;
      app-inteleon-icon {
        width: 100px;
      }
      #header-text {
        padding-top: 25px;
        font-size: 48px;
      }
    }
  }
  
  #site-navigation {
    padding-left: 12px;
    a {
      width: 515px;
    }
  }

  &.display-horizontal {
    display: flex;
    padding-top: 10px;
    padding-bottom: 22px;

    h1 {
      padding-top: 5px;
      a {
        app-inteleon-icon {
          width: 55px;
        }
        #header-text {
          padding-top: 15px;
          font-size: 24px;
        }
      }
    }


    #site-navigation {
      display: flex;
      padding-top: 11px;

      a {
        width: fit-content;
      }
    }
  }
}

#header-and-nav-container.baller {
  h1 a {
    flex-direction: column;
  }

  #baller-icon {
    width: 151px;
  }

  #ball-street-sign {
    display: flex;
    flex-direction: row;

    padding: 7px 10px;
    border-radius: 6px;

    border: #FFF 1px solid;
    font-size: 40px;

    #street-sub-text {
      font-size: 18px;
      margin-left: 8px;
    }
  }
}