<mat-tab-group (selectedIndexChange)="onTabChange()" preserveContent>
  <mat-tab label="Leaderboard">
    <app-leaderboard-table [leaders]="top6()" />
  </mat-tab>
  <mat-tab label="Leaders over time">
    <!--
      ng-template with matTabContent lazy loads the tab.
      If not lazy loaded, d3 won't have a DOM element to attach to
      When the template initially renders.
    -->
    <ng-template matTabContent>
      <app-bar-chart-race #resultsOverTime></app-bar-chart-race>
    </ng-template>
  </mat-tab>
  <mat-tab label="Wealth distribution">
     <app-wealth-dist-pie></app-wealth-dist-pie>
  </mat-tab>
</mat-tab-group>
