tr:hover {
  background: rgba(245, 245, 245, .05);
  cursor: pointer;
}

app-wealth-dist-pie {
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 25px;
}

app-loading-shimmer {
  display: block;
  width: 300px;
  margin: auto;
  margin-top: 32px;
}